*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

h1 {
    font-size:2.8rem;
    padding: 0.5rem;
}

p{
    font-size: 1.6rem;
    margin: 1rem;
}


 article {
    width: 50rem;
    height: 20rem;
    margin: 0 auto;
    border: 1rem solid green;
} 

/* Nézzünk meg pár esetet, hogy miben különbözik a px és a rem, nem font-size esetén! */

/* article {
    width: 50rem;
    height: 20rem;
    margin: 0 auto;
    border: 1rem solid green;
} */
